---
---

@import "jekyll-theme-slate";

.download_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:100%;
    height: 60px;
    font-size: 20px;
    border: 1px solid #bbb;
    padding:.75em 1em .5em 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:white;
    background-image:url({{ '../images/select-arrow.png' }});
    background-position: right;
    background-repeat: no-repeat;
}

.download_select::-ms-expand {
    display: none;
}

.download_select:hover {
    background-color:rgba(255, 255, 255, 0.185);
}

.download_select_option {
    height: 60px;
    background:rgb(255, 255, 255);
    border-top:1px solid #444;
    padding:.3em 1em .3em 1em;
}

.download_button {
    width:100%;
    height: 70px;
    font-size: 25px;
    color:rgb(255, 255, 255);
    background:rgb(0, 144, 255);
    border: 1px solid #bbb;
    padding:.75em 1em .5em 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download_button:hover {
    background:rgba(0, 145, 255, 0.808);
}

.download_button_disabled {
    background:rgb(126, 149, 167);
}

.download_button_disabled:hover {
    background:rgb(126, 149, 167);
}

.trademark_note {
    color: rgb(177, 177, 177);
    font-size: 12px;
}